.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  justify-self: center;
}

.title img {
  padding-right: 4px;
}

.logo {
  width: 75px;
  height: 75px;
}

.card_cont {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}