.movie-page {
  width: calc(100vw - 4rem);
  height: 70vh;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.movie-img {
  width: 100%;
  display: flex;
  place-content: center;
}

.movie-img img {
  width: 225px;
}

.movie-info {
  padding: 1rem 2rem;
  text-align: justify;
}

@media (min-width: 750px) {

  .movie-details {
    flex-direction: row;
  }

}